@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

@font-face {
    font-family: Courier;
    src: url("../assets/Courier\ Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
}

:root{
    /* #73C193 */
    --cor-texto: #82E4B8;
    --cor-fundo: #000000;
    --fonte: 'Courier', sans-serif;
}
::selection{
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
}
#matrix{
    width: 100%;
    height: 100%;
    z-index: -1;
}
body{
    background-color: var(--cor-fundo);
    box-sizing: border-box;
    height: 100vh;
}
::-webkit-scrollbar{
   background: var(--cor-fundo);
}
::-webkit-scrollbar-thumb{
    background-color: #00ca18a6;
}
.conteudo{
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 3% 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.conteudo__input{
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 40%;
    height: 75vh;    
}

.conteudo__input__campo{
    resize: none;
    height: 100%;
    padding: 2%;
    font-family: var(--fonte);
    font-size: 1.7rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border: 0.188rem;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 0.85rem;
    outline: none;
}

.conteudo__input__campo::placeholder{
    color: var(--cor-texto);
}

.conteudo__input__botoes{
    display: flex;
    justify-content: space-around;
}

.conteudo__input__botoes__botao{
    padding: 1.5% 4%;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 5rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte);
    font-weight: 600;
    font-size: 1rem;
}

.conteudo__input__botoes__botao:hover{
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
    cursor: pointer;
}

#error__message{
    font-family: var(--fonte);
    color: red;
    display: none;
    background-color: var(--cor-fundo);
    border-radius: 2rem;

}

/*OUTPUT*/
.conteudo__output{
    width: 23%;
    height: 70vh; 
}

.conteudo__output__apresentacao{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.188rem;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 0.85rem;
}
.conteudo__output__apresentacao__texto{
    padding: 3%;
    font-family: 'Courier', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-texto);
    text-align: center;
}
.conteudo__output__apresentacao__campo{
    padding: 2%;
    font-family: var(--fonte);
    font-size: 1.7rem;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    height: 30%;
    border: none;
    resize: none;
}
.conteudo__output__resultado{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    display: none;
}

.conteudo__output__campo{
    resize: none;
    height: 100%;
    padding: 2%;
    font-family: var(--fonte);
    font-size: 1.7rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border: 0.188rem;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 0.85rem;
    outline: none;
}

.conteudo__output__botoes{
    display: flex;
    justify-content: center;
}

.conteudo__output__botoes__botao{
    padding: 1.5% 4%;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 5rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte);
    font-weight: 600;
    font-size: 1rem;
}

.conteudo__output__botoes__botao:hover{
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
}

/*FOOTER*/

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00ca18a6;
    width: 100%;
}

.rodape__texto{
    padding: 0.5% 0;
    font-family: var(--fonte);
    font-weight: 600;
    font-size: 1.1rem;
}

.rodape__links{
    display: flex;
    width: 7%;
    justify-content: space-between;
}

@media(max-width:1100px){
    .conteudo{
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }

    .conteudo__input{
        height: 50vh;
        width: 80%;
    }
    #error__message{
        font-size: 1.7rem;
        background-color: var(--cor-fundo);
    }
    .conteudo__input__botoes__botao{
        font-size: 1.7rem;
    }

    .conteudo__output{
        height: 30vh;
        width: 80%;
        /* display: none; */
    }

    .conteudo__output__apresentacao img{
        display: none;
    }

    .conteudo__output__apresentacao__texto{
        font-size: 1.7rem;
    }

    .rodape__texto{
        font-size: 1.7rem;
    }
}

@media(max-width:500px){
    .conteudo{
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }

    .conteudo__input{
        height: 40vh;
        width: 80%;
    }
    #error__message{
        font-size: 1.5rem;
        background-color: var(--cor-fundo);
    }
    .conteudo__input__botoes__botao{
        font-size: 1.5rem;
    }

    .conteudo__output{
        height: 30vh;
        width: 80%;
        /* display: none; */
    }

    .conteudo__output__apresentacao img{
        display: none;
    }

    .conteudo__output__apresentacao__texto{
        font-size: 1.5rem;
    }

    .rodape__texto{
        font-size: 1.5rem;
    }
}