@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-texto: #76FF6F;
    --cor-fundo: #000000;
    --fonte: 'Courier Prime', monospace;
}
::selection{
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
}
body{
    height: 100vh;
    background-color: var(--cor-fundo);
}

.conteudo{
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding: 2.5rem 0;
}

.conteudo__input{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.conteudo__input__botoes{
    display: flex;
    justify-content: space-around;
}
.conteudo__input__botoes__botao{
    padding: 0.8rem 2.5rem;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 5rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte);
    font-weight: 600;
}

.conteudo__input__botoes__botao:hover{
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
}

.conteudo__input__campo{
    resize: none;
    height: 80vh;
    width: 50vw;
    padding: 0.5rem 0.5rem;

    font-family: var(--fonte);
    font-size: 2rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border: 0.188rem;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 0.85rem;
    outline: none;
}

.conteudo__input__campo::placeholder{
    color: var(--cor-texto);
}

#error__message{
    font-family: var(--fonte);
    color: red;
}

.conteudo__output{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 0.85rem;
}

.after__click{
    display: none;
}

.conteudo__output__campo{
    height: 80vh;
    width: 25vw;
    padding: 0.5rem 0.5rem;

    font-family: var(--fonte);
    font-size: 2rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border: 0.188rem;
    border-style: solid;
    border-color: var(--cor-texto);
    border-radius: 0.85rem;
    outline: none;
}

#morpheus__img{
    width: 300px;
    /* Você pode escolher a pílula azul e nunca saber como seu texto seria encriptado, ou pode tomar a vermelha e descobrir. Em outras palavras, digite seu texto */
}
