*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.conteudo__input{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.conteudo__input__botoes{
    display: flex;
    justify-content: space-around;
}

.conteudo__output{
    border-color: green;
    border-style: solid;

}

textarea{
    resize: none;
    width: 500px;
    height: 500px;
}